body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#canvas-container {
    margin:0;
    position: relative;
    display: inline-block;
    height: 100%;
    max-height: 2200px;
    min-width: 400px; /* Ensure the container has some width */
  }
  

  canvas {
    display: block;
    max-height: 100%;
    width: auto;
    
  }



.crosshairs {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.crosshairs::before,
.crosshairs::after {
    content: "";
    position: absolute;
    background-color: white;
    mix-blend-mode: difference;
}

.crosshairs::before {
    width: 20px;
    height: 1px;
    top: 50%;
    left: 0;
}

.crosshairs::after {
    width: 1px;
    height: 20px;
    left: 50%;
    top: 0;
}


button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
#splash-screen {
    position: fixed;
    inset: 0;
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  #splash-screen img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  #splash-screen p {
    font-size: 18px;
    font-family: sans-serif;
  }
  
