body {
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    width: 95%;
    max-width: 1200px;
    display: block;
    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
